[submodule "src/turtlebot3"]
	path = src/turtlebot3
	url = https://github.com/WSU-RAS/turtlebot3.git
        branch = master
[submodule "src/hls_lfcd_lds_driver"]
	path = src/hls_lfcd_lds_driver
	url = https://github.com/WSU-RAS/hls_lfcd_lds_driver.git
        branch = master
[submodule "src/object_detection_msgs"]
	path = src/object_detection_msgs
	url = https://github.com/WSU-RAS/object_detection_msgs.git
        branch = master
[submodule "src/ras_navigation"]
	path = src/ras_navigation
	url = https://github.com/WSU-RAS/RAS_Navigation.git
        branch = joule
[submodule "src/ras_msgs"]
	path = src/ras_msgs
	url = https://github.com/WSU-RAS/ras_msgs.git
        branch = master
[submodule "src/tablet_interface"]
	path = src/tablet_interface
	url = https://github.com/WSU-RAS/tablet_interface.git
        branch = master
[submodule "src/rosbridge_suite"]
	path = src/rosbridge_suite
	url = https://github.com/RobotWebTools/rosbridge_suite.git
        branch = master
[submodule "src/rosauth"]
	path = src/rosauth
	url = https://github.com/GT-RAIL/rosauth.git
        branch = master
[submodule "src/turtlebot3_msgs"]
	path = src/turtlebot3_msgs
	url = https://github.com/WSU-RAS/turtlebot3_msgs.git
        branch = master
[submodule "src/find_person"]
	path = src/find_person
	url = https://github.com/WSU-RAS/find_person.git
        branch = master
[submodule "src/adl_error_detection"]
	path = src/adl_error_detection
	url = https://github.com/WSU-RAS/adl_error_detection.git
        branch = master
