[submodule "src/turtlebot3"]
	path = src/turtlebot3
	url = https://github.com/WSU-RAS/turtlebot3.git
[submodule "src/hls_lfcd_lds_driver"]
	path = src/hls_lfcd_lds_driver
	url = https://github.com/WSU-RAS/hls_lfcd_lds_driver.git
[submodule "src/object_detection_msgs"]
	path = src/object_detection_msgs
	url = https://github.com/WSU-RAS/object_detection_msgs.git
[submodule "src/ras_navigation"]
	path = src/ras_navigation
	url = https://github.com/WSU-RAS/RAS_Navigation.git
[submodule "src/turtlebot3_msgs"]
	path = src/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
