<?xml version="1.0"?>
<launch>
    <!-- Can be set as argument during roslaunch -->
    <arg name="is_test" default="false" /> <!-- if TRUE, log casas data to test agent instead of kyoto -->
    <arg name="save_task" default="false" />
    <arg name="test_error" default="false" />

    <include file="$(find adl_error_detection)/launch/detect_error.launch">
        <arg name="is_test" value="$(arg is_test)" />
        <arg name="save_task" value="$(arg save_task)" />
        <arg name="test_error" value="$(arg test_error)" />
    </include>
</launch>
